
#seccion{
    background-color: #161616;
    padding-bottom: 10px;
    
}
nav{
    
    
}
span{
    color: wheat;
}
.seccion-header{
    height: 130;
}
img{
    height: 100px;
}
a{
    font-size: 1em;
    text-decoration: none;
}
@media (max-width: 768px) {
    #relleno{
        display: none;
    }
    #nav ul li a{
        width: 100%;
    }
    
}

#navegacion{
    display: flex;
    
}

#inicio{
    list-style: none;
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 30px;
}
#inicio li > a{
    width: 100px;
}
#inicio li:hover > a{
    background-color: #5F6A6A;
}
#inicio li a fa-icon{
    color: #fff;
    margin-right: 5px;
}


.imgP{
    margin-right: 735px;
    margin-bottom: 20px;
    background-color: black;
}
