<aside class="row">
    <div class="col-12" id="seccion"></div>
</aside>

<header class="row" id="navegacion" >
    

<div class="col-lg-4 col-md-4" ></div>
    <ul class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="inicio">
        <div class="imgP" >
            <img src="./../../../assets/img/Img_Welcome/images.png" alt="">
        </div  >
        <li >
            <a href="" routerLink="/auth" class="">
                <!-- <fa-icon [icon]="Icon.faRightToBracket"></fa-icon> -->
                <i class="fa-solid fa-right-to-bracket"></i>
                Cuenta
            </a>
        </li>
        <li >
            <a href="">
                <!-- <fa-icon [icon]="Icon.faCartShopping"></fa-icon> -->
                <i class="fa-solid fa-cart-shopping"></i>
                Carrito
            </a>
        </li>
    </ul>
</header>
