<html>
  <h1>Productos</h1>
<!--Start Cabecera Productos -->
    <div class="d-grid gap-2">
      
      <!-- <a class="btn btn-primary" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Unidad de Cantidad</a>
      <ul class="dropdown-menu">
        
        <li><a class="dropdown-item" href="#scrollspyHeading4">Ver</a></li>e
        <li><a class="dropdown-item" href="#scrollspyHeading4">Material-Unidad Cantidad </a></li>
        <li><hr class="dropdown-divider"></li>
      </ul>
      <a class="btn btn-primary" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">   Modelo</a>
      <ul class="dropdown-menu">
        
        <li><a class="dropdown-item" [routerLink]="['/dasboard/mantenimiento/modelo']" href="#scrollspyHeading4">Ver</a></li>
        <li><a class="dropdown-item" href="#scrollspyHeading4">Producto-Modelo </a></li>
        <li><hr class="dropdown-divider"></li>
      </ul> -->
      <a class="btn btn-primary" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><img src="https://imgs.search.brave.com/mQfYhtHiJhgKeKvkPCHAyK5zbCDJAUyoMbFjJSqO7_s/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTM1/MTQzNzYxNy9lcy9m/b3RvL2xhcmdhLWV4/cG9zaWNpJUMzJUIz/bi1kZS1wYXF1ZXRl/cy1lbi1jaW50YS10/cmFuc3BvcnRhZG9y/YS5qcGc_cz02MTJ4/NjEyJnc9MCZrPTIw/JmM9ZVlCWWZmYkJp/b2thRjlyZHE0VDJT/R2l3c2JKX1hELVU2/eF9KSjJUQ0pSRT0" 
        alt="" class="img_producto">  Proveedor</a>
      <ul class="dropdown-menu">
        
        <li><a class="dropdown-item" href="#scrollspyHeading4">Ver</a></li>
        <li><a class="dropdown-item" href="#scrollspyHeading4">Proveedor-Material </a></li>
        <li><hr class="dropdown-divider"></li>
      </ul>
      <a class="btn btn-primary" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><img src="https://imgs.search.brave.com/a55-vXiD_9ulT5WAVAruritbgM8BlSHruOlsGO8Fn1o/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvNjEz/MTM0MzA2L2VzL2Zv/dG8vbXVqZXItZW1v/Y2lvbmFkYS1kaXZp/cnRpJUMzJUE5bmRv/c2UtZGUtY29tcHJh/cy5qcGc_cz02MTJ4/NjEyJnc9MCZrPTIw/JmM9bm13Q1NIVWZ2/RkpfQzU3eGF2Y0FQ/QVdFZ0J1UFhVU3Yy/QURCTmtzOVpubz0"
         alt="" class="img_producto">  Clientes</a>
      <ul class="dropdown-menu">
        
        <li><a class="dropdown-item" href="#scrollspyHeading4">Ver</a></li>
        <li><a class="dropdown-item" href="#scrollspyHeading4">Productos-Clientes </a></li>
        <li><hr class="dropdown-divider"></li>
      </ul>
    
    </div>
  <!--End  Cabecera Productos -->    
    <br>
   
  <!--Columnas son datos  -->  
    <div class="container text-center">
      <div class="row">
        <div class="col" id="containerProd">
          
          Producto Bajo Stock
          <div class="prd">
            <ul >Zapato Color Negro</ul>
          
          </div>
          
        </div> 
        
        <tbody class="col" id="containerProd">
          Modelos
          <div class="prd" *ngFor="let mod of responseModelo">
            <ul>{{mod.nombreModelo}}</ul>  
         
          </div>
          
        <tr>   </tr> 
        </tbody>
        <div class="col">
          Productos Antiguos
          <div class="prd" *ngFor="let def of responseProducto">
            <ul >{{def.nombreProd}}</ul>
            <img src="{{def.fotografia_Producto}}" class="img_producto" alt="">
          
          </div>
          
        </div>
      </div>
    </div>
  <!--End Cabecera Productos -->
<h2>Lista De Productos</h2>


  <!--Start Cabecera Buttones CRUD Productos -->
  
  
    
        
    <button  class="btn btn-primary btn-sm">
      <i class="fas fa-plus"> </i>
       
    </button>



    
  <!--End Cabecera Buttones CRUD Productos -->
  <table class="table ">
  
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre Prodcuto</th>
        <th scope="col">Precio</th>
        <th scope="col">Imagen Producto</th>
        <button (click)="crearProducto(modalEdit)"  class="btn btn-primary btn-sm" id="button-Mas">
            <i class="fas fa-plus"></i>
        </button>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of responseProducto">
        <td >{{list.idProducto}}</td>
        <td>{{list.nombreProd}}</td>
        <td>{{list.precioUnitario}}</td>
        <img src="{{list.fotografia_Producto}}" alt="" class="img_producto">
       <td>
        <button (click)="editarProducto(modalEdit,list)" class="btn btn-primary mr-4">
          <i class="fas fa-edit"></i>
      </button>
      <button type="button" class="btn btn-danger mr-4">
          <i class="fas fa-trash"></i>
      </button>
       </td>
      
        
      </tr>
      
  
  
  <ng-template #modalEdit>
    <!-- <app-mant-rol-registrer
    [title]="titleModal"
    [Producto]="productoEnviar"
    [accion]="accionModal"
  (closeModalEmmit)="getCloseModalEmmit($event)"
    >
    </app-mant-rol-registrer> -->
    <app-mant-producto-register
    
      [title]="titleModal"
      []
    >

    </app-mant-producto-register>
  </ng-template>
  

