<html>
  <h1>Productos</h1>
<!--Start Cabecera Productos -->
    <div class="d-grid gap-2">
      
      <a class="btn btn-primary" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Unidad de Cantidad</a>
      <ul class="dropdown-menu">
        
        <li><a class="dropdown-item" href="#scrollspyHeading4">Ver</a></li>e
        <li><a class="dropdown-item" href="#scrollspyHeading4">Material-Unidad Cantidad </a></li>
        <li><hr class="dropdown-divider"></li>
      </ul>
      <a class="btn btn-primary" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">   Modelo</a>
      <ul class="dropdown-menu">
        
        <li><a class="dropdown-item" [routerLink]="['/dasboard/mantenimiento/modelo']" href="#scrollspyHeading4">Ver</a></li>
        <li><a class="dropdown-item" href="#scrollspyHeading4">Producto-Modelo </a></li>
        <li><hr class="dropdown-divider"></li>
      </ul>
      <a class="btn btn-primary" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="fa-solid fa-bag-shopping"></i>  Proveedor</a>
      <ul class="dropdown-menu">
        
        <li><a class="dropdown-item" href="#scrollspyHeading4">Ver</a></li>
        <li><a class="dropdown-item" href="#scrollspyHeading4">Proveedor-Material </a></li>
        <li><hr class="dropdown-divider"></li>
      </ul>
      <a class="btn btn-primary" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="fa-solid fa-bag-shopping"></i>  Clientes</a>
      <ul class="dropdown-menu">
        
        <li><a class="dropdown-item" href="#scrollspyHeading4">Ver</a></li>
        <li><a class="dropdown-item" href="#scrollspyHeading4">Productos-Clientes </a></li>
        <li><hr class="dropdown-divider"></li>
      </ul>
    
    </div>
  <!--End  Cabecera Productos -->    
    <br>
    <img src="./../../../../../../assets/img/img_Template/img_template.PNG" alt="" class="img_prod">
  <!--Columnas son datos  -->  
    <div class="container text-center">
      <div class="row">
        <div class="col">
          
          Producto Bajo Stock
          <div class="prd">
            <ul >Zapato Color Negro</ul>
          <ul >Reservado</ul>
          <ul >Reservado</ul>
          <ul >Reservado</ul>
          </div>
          <button class="btn btn-danger"> Ver mas </button>
        </div> 
        
        <tbody class="col">
          <tr>Modelos </tr> 
          <tr  *ngFor="let mod of responseModelo" class="prd">
              <td>{{mod.nombreModelo}}</td>          
          </tr> 
        <tr><button class="btn btn-danger"> Ver mas </button>   </tr> 
        </tbody>
        <div class="col">
          Productos Antiguos
          <div class="prd">
            <ul >Zapato Color Negro</ul>
          <ul >Reservado</ul>
          <ul >Reservado</ul>
          <ul >Reservado</ul>
          </div>
          <button class="btn btn-danger"> Ver mas </button>
        </div>
      </div>
    </div>
  <!--End Cabecera Productos -->
<h2>Lista De Productos</h2>


  <!--Start Cabecera Buttones CRUD Productos -->
    <button  class="btn btn-info btn-sm">
      <i class="fa-solid fa-eye"></i>
      Productos Bajos de Stock
    </button>
    ///
    <button  class="btn btn-info btn-sm">
      <i class="fa-solid fa-eye"> </i>
      Productos
    </button>
    ///
    <button  class="btn btn-primary btn-sm">
      <i class="fas fa-plus"> </i>
      Nuevo Producto
    </button>
  <!--End Cabecera Buttones CRUD Productos -->
<table class="table">
    
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre Producto</th>
        <th scope="col">Precio Unitario</th>
        <th scope="col">Unidad</th>
        <th scope="col">Stock</th>
        <th scope="col">Estado</th>
        <th scope="col">Fotografia</th>
        
      </tr>
      

    </thead>
    
    <tbody *ngFor="let list of responseProducto">
      
      <tr >
        <th scope="row">{{list.idProducto}}</th>
        <td>{{list.nombreProd}}</td>
        <td>{{list.precioUnitario}}</td>
        <td>{{list.idUnidad}}</td>
        <td>{{list.stock}}</td>
        <td>{{list.estadoProducto}}</td>
        <td>{{list.fotografia}}</td>
        
        <!-- 
        <button (click)="eliminarRol(car.irol)" type="button" class="btn btn-danger mr-4">
            <i class="fas fa-trash"></i>
        </button> -->
      <button  class="btn btn-primary mr-4">
            <i class="fas fa-edit"></i>
        </button>
        
      </tr>
      
    </tbody>
    
      
  </table>
  
  
  <ng-template #modalEdit>
    <!-- <app-mant-rol-registrer
    [title]="titleModal"
    [Producto]="productoEnviar"
    [accion]="accionModal"
  (closeModalEmmit)="getCloseModalEmmit($event)"
    >
    </app-mant-rol-registrer> -->
    <app-mant-producto-register
    
      [title]="titleModal"
      []
    >

    </app-mant-producto-register>
  </ng-template>
  
</html>
