
<div class="container-fluid">

    <app-welcome-header></app-welcome-header>
    <figure >
            <!-- <div  >
                <img src="./../../../assets/img/Img_Welcome/Zapatos para mujer 3x99_D.webp" alt="">
            </div> -->
    </figure>
   
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./assets/img/Img_Welcome/banner_img_01.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>DLopez</b> Ofertas</h1>
                                <h3 class="h2">Pfertas de Dia </h3>
                                <p>
                                    50 % de Descuento Visita Nuestro Catalogo 
                                    
                                    <a rel="sponsored" class="text-success" href="https://stories.freepik.com/" target="_blank">Catalogo</a>,
                                    
                                </p>
                                <p>
                                    <a rel="sponsored" class="text-success" href="https://unsplash.com/" target="_blank">Ver Modelos</a> 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="http://aa.somee.com/imagen_pagina/720X1300-ecco.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Dia de la Madre</h1>
                                <h3 class="h2">Regalale lo que ella Necesita</h3>
                                <p>
                                    Ella se merece lo mejor 
                                    
                                    <strong>Visita nuestro productos </strong> 
                                    con Nuestro Distribiudor Autorizado
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="http://aa.somee.com/imagen_pagina/MODELOS-[Recuperado]2.gif" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Todo tipos de Modelos</h1>
                                <h3 class="h2">Para Hombre y Mujeres </h3>
                                <p>
                                    Productos echos para ellos modelos que le gusta a ellas
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    
    <h1>Nuestros Productos</h1>
    <section class="container py-5">
        <div class="row text-center pt-3">
               
            
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="./../../../assets/img/Img_Welcome/category_img_01.jpg" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">Watches</h5>
                <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="./../../../assets/img/Img_Welcome/category_img_02.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Shoes</h2>
                <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="./../../../assets/img/Img_Welcome/category_img_03.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Accessories</h2>
                <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
            </div>
        </div>
    </section>
    <div class="contendido-centro row">
        
       <!--  <section class="row col-lg-9">
           <form action="" class="container-producto"
           *ngFor="let mod of responseProducto"
           >
            <a href="" ><img src="{{mod.fotografiaProducto}}" alt=""></a>
            <div>
                <label for="">Nombre</label>
                =>
                <label for="">{{mod.nombreProd}}</label>
                <br>
                <label for="">Precio</label>
                =>
                <label for="">{{mod.precioUnitario}}</label>
            </div>
            
            
        </form> -->
                
        <!-- </section> -->


    </div>

    <h1>Nuestros Modelos</h1>
    <h3>Para Ellas</h3>
    <div>
        <img class="img-modelo"  src="http://aa.somee.com/imagen_pagina/ChicBailarina.jpg" alt="">
        
        <a href=""><label class="label-pag" for="">Bailarinas</label></a>
    </div>
    
    <img class="img-modelo-pr" src="http://aa.somee.com/imagen_pagina/ImagenElla.jpg" alt="">
    <div>
        <img class="img-modelo" src="http://aa.somee.com/imagen_pagina/ChicBotin.jpg" alt="">
        <a href=""><label class="label-pag" for="">Botines</label></a>
    </div>
    
    <!--Parte del html del hombre-->
    <h3>Para Ellos</h3>
    <div>
        <img class="img-modelo"  src="http://aa.somee.com/imagen_pagina/SeñorZapato.jpg" alt="">
        
        <a href=""><label class="label-pag" for="">Zapatos</label></a>
    </div>
    
    <img class="img-modelo-pr" src="http://aa.somee.com/imagen_pagina/ImagenElla.jpg" alt="">
    <div>
        <img class="img-modelo" src="http://aa.somee.com/imagen_pagina/ChicBotin.jpg" alt="">
        <label class="label-pag" for="">Zapatillas</label>
    </div>
   
 <!-- Start Categories of The Month -->

<!-- End Categories of The Month -->
 
    <address class="PIE">
        <div>
            <button>Atencion al Cliente</button>
                        
        </div>
        <div>
                        


        </div>


    </address>
    <!--Prubas para el router-->
        
<p>welcome works!</p>
<!-- <img src="http://zaphost.somee.com/img/Botin%201.jpg" alt="">
<tbody *ngFor="let list of responseProducto">
      
    <tr >
      <th scope="row">{{list.idProducto}}</th>
      <td>{{list.nombreProd}}</td>
      <td>{{list.precioUnitario}}</td>
      <td>{{list.idUnidad}}</td>
      <td>{{list.stock}}</td>
      <td>{{list.estadoProducto}}</td>
      
      <img src="{{list.fotografia}}" alt="">
      
     
  
      
    </tr>
    
  </tbody> -->
    <!-- 
    <button (click)="eliminarRol(car.irol)" type="button" class="btn btn-danger mr-4">
        <i class="fas fa-trash"></i>
    </button> -->
 
    

    <!-- <H1>bienvenido al Inicio </H1>
    <div class="">
            <body>
                <button routerLink="" class="btn btn-primary">ir al welcome </button>
            <button routerLink="/prueba" class="btn btn-primary">ir a pruebas </button>
            <button routerLink="/dasboard" class="btn btn-primary">DASBOARD </button>
            <button routerLink="/404"  class="btn btn-primary">ir a not found</button>
            <button routerLink="/auth"   class="btn btn-primary">iniciar sesion  </button>
            <button routerLink="/prueba" class="btn btn-primary">ir a pruebas </button>
            </body>
    </div>   -->     

    <footer class="pie1 row">
        
            <div  class="pie1-Cont col-lg-6 col-xs-12">
                <label for="" class="AYUDA">D'LOPEZ </label>
                <p>
                    <a href="" class="a1">> Quienes somos</a>
                </p>
                <p>
                    <a href="" class="a1">> Direccion</a>   
                </p>
                <p>
                    <a href="" class="a1">> Preguntas Frecuentes</a>   
                </p>     
            </div>
            <div class="pie1-Cont col-lg-6 col-xs-12">
                <label for="" class="AYUDA">Servicio Al Cliente </label>
                <p>
                    <a href="" class="a1">> Quienes somos</a>
                </p>
                <p>
                    <a href="" class="a1">> Direccion</a>   
                </p>
                <p>
                    <a href="" class="a1">> Preguntas Frecuentes</a>   
                </p>     
            </div>
        </footer>
</div>



<div class="narvar3">

</div>
<!-- <ng-template #modalEdit>
    <app-listar-detalle
    [title]="titleModal"
    
    [accion]="accionModal"
  (closeModalEmmit)="getCloseModalEmmit($event)"
    >
    </app-listar-detalle>
  </ng-template> -->


 