.completo{
  margin-left: 203px;
  margin-right: 337px;
}
*{
  background-color: black;
  color: white;
}
input{
  background-color: white;
  color: black;
}
select{
  background-color: white;
  color: black;
}
span{
  background-color: blue;
}
