<h1>MANTENIMEIENTO DE EMPLEADO</h1>
<table class="table">
    
    <thead>
      <tr>
        <tr>
          <th scope="col" >IdEmpleado</th>
          <th scope="col">Nombre Apellido</th>
          <th scope="col">Documento</th>
          <th scope="col">Numero Documento</th>
          <th scope="col">Telefono</th>
          <th scope="col">Direccion</th>
          <th scope="col">Salario</th>
          <th scope="col">Estado</th>
        <th>
        
        <button (click)="crearEmpleado(modalEdit)"  class="btn btn-primary btn-sm">
            <i class="fas fa-plus">Nuevo Empleado</i>
        </button>
        <button  class="btn btn-secondary btn-sm">
          <i class="fas fa-plus">Nuevo Area</i>
      </button>
      </tr>
    </thead>
   
      <tbody *ngFor="let list of responseEmpleado">
        <tr *ngFor="let e of list.empleado">
          <td>{{e.idEmpleado}}</td>
          <td>{{e.nombrePersona + " " + e.apellidoEmp}}</td>
          <td>{{e.tipoDocumento}}</td>
          <td>{{e.numeroDocumento}}</td>
          <td>{{e.telefono}}</td>
          <td>{{e.direccion}}</td>
          <td>{{e.salario}}</td>
          <td>{{e.estado}}</td>
          <td>
        <button (click)="editarEmpleado(modalEdit,e)" class="btn btn-primary mr-4">
            <i class="fas fa-edit"></i>
        </button>
        <button  class="btn btn-sucess mr-4">
          <i class="fa-solid fa-plus"></i>
      </button>
        <button (click)="eliminarEmpleado(e.idEmpleado)" type="button" class="btn btn-danger mr-4">
            <i class="fas fa-trash"></i>
        </button>
        </tr>
      </tbody>    
      
      
    
  </table>
  
    <ng-template #modalEdit>
      <app-mant-empleado-register
      [title]="titleModal"
      [empleado]="empleadoSelect"
      [accion]="accionModal"
    (closeModalEmmit)="getCloseModalEmmit($event)"
      >
      </app-mant-empleado-register>
    </ng-template>


      