<div class="container mt-4">
  <h1 class="text-center mb-4">Clientes</h1>
  
  <div class="text-center mb-4">
    <img src="./../../../../../../assets/img/img_Template/img_cliente.PNG" alt="Clientes" class="img-fluid rounded">
  </div>
  
  
  
  <div class="container-fluid mt-4">
    <div class="card bg-light mb-3">
      <div class="card-header">
        <strong>Lista de Clientes</strong>
        <div class="float-end">
          <button (click)="crearCliente(modalEdit)" class="btn btn-primary btn-sm">
            <i class="fa-regular fa-user"></i> Nuevo Cliente
          </button>
          <button (click)="creardetalleCredito(modalEditDetalleCredito)" class="btn btn-dark btn-sm ms-2">
            <i class="fas fa-plus"></i> Registrar Pago de Crédito
          </button>
          <button (click)="crearCredito(modalEditCredito)" class="btn btn-dark btn-sm ms-2">
            <i class="fas fa-plus"></i> Registrar Nuevo Crédito
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">Nombre del Cliente</th>
                <th scope="col">Tipo</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody *ngFor="let list of responseVwCliente">
              <tr *ngFor="let e of list.clientes">
                <td>{{e.nombreCliente}}</td>
                <td>{{e.nombreRol}}</td>
                <td>{{e.telefono}}</td>
                <td>
                  <button class="btn btn-primary btn-sm me-2">
                    <i class="fas fa-edit"></i> Actualizar
                  </button>
                  <button type="button" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash"></i> Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modales -->
<ng-template #modalEdit>
  <app-mant-cliente-register
    [title]="titleModal"
    [responsListCliente]="usuarioSelect"
    [accion]="accionModal"
    (closeModalEmmit)="getCloseModalEmmit($event)">
  </app-mant-cliente-register>
</ng-template>

<ng-template #modalEditCredito>
  <app-mant-credito-register
    [title]="titleModal"
    [responsListCredito]="creditoSelect"
    [accion]="accionModal"
    (closeModalEmmit)="getCloseModalEmmit($event)">
  </app-mant-credito-register>
</ng-template>

<ng-template #modalEditDetalleCredito>
  <app-mant-detalle-credito-register
    [title]="titleModal"
    [responseVwDetalleCredito]="detalleCreditoSelect"
    [accion]="accionModal"
    (closeModalEmmit)="getCloseModalEmmit($event)">
  </app-mant-detalle-credito-register>
</ng-template>
