<p>Listar Detalle de Producto</p>
<h2>{{ title }}</h2>

<div *ngIf="frmLoadSt == loadStateEnum.Loading" class="home">
    <h1 class="text-white">Buscando algo que leer...</h1>
    <ng-template #sc>
        <div class="loader">
            <svg viewBox="0 0 80 80">
                <circle r="32" cy="40" cx="40" id="test"></circle>
            </svg>
        </div>
        <div class="loader triangle">
            <svg viewBox="0 0 86 80">
                <polygon points="43 8 79 72 7 72"></polygon>
            </svg>
        </div>
        <div class="loader">
            <svg viewBox="0 0 80 80">
                <rect height="64" width="64" y="8" x="8"></rect>
            </svg>
        </div>
    </ng-template>
</div>

<body>
    <div class="container">
        <div class="product-detail" *ngFor="let car of vistDetalle">
            <div class="image-container">
                <img [src]="car.fotografia" alt="Producto">
            </div>
            <div class="details-container">
                <h1 class="product-title">{{ car.nombreProd }}</h1>
                <p class="product-price">${{ car.precioUnitario }}</p>

                <table class="product-description-table">
                    <tr>
                        <th>Categoría:</th>
                        <td>{{ car.categoria }}</td>
                    </tr>
                    <tr>
                        <th>Material:</th>
                        <td>{{ car.material }}</td>
                    </tr>
                    <tr>
                        <th>Color:</th>
                        <td>{{ car.color }}</td>
                    </tr>
                    <tr>
                        <th>Talla:</th>
                        <td>{{ car.talla }}</td>
                    </tr>
                </table>
                <button [routerLink]="" class="add-to-cart-btn">Volver</button>
            </div>
        </div>
    </div>
</body>
